
.border-card{
    border-top-right-radius:3px;
    border-top-left-radius: 3px;
}

.erp-top-padding-xs {
	/* Se activa el padding cuando es menor a 600px*/
}
.erp-top-padding-sm {
	/* Se activa el padding cuando es menor a 960px*/
}
.erp-bottom-padding-sm{

}
.erp-bottom-align-right-sm{

}
.erp-top-padding{
  padding-top: 15px;
}

.btn-delete{

}

.reduce_margin_button {
  margin: -8px 0px !important;
}

.reduce_margin_button_tabla {
  margin: -12px 0px !important;
}

.reduce_margin_button_file {
  margin: -8px 0px -13px -12px !important;
}

.reduce_margin_button_file_icon {
  margin-right: -8px !important;
  margin-bottom: -4px !important;
}

.erp-top-padding-especial{
  padding-top: 30px;
}

.alert-alert {
  font-size: 11px; 
  color: #DF7401;
}


.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/*
  .erp-top-padding-xs-especial{
  padding-top: 30px;
  }
*/
.paso-circulocompleto {
     width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: rgb(128,19,77);
     text-align: center;
     font-size: 14px;
     display: table-cell;
     vertical-align: middle;
     color: white;
     margin: -5px;
     cursor: default;
}

.paso-circulo {
     width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #D8D8D8;
     text-align: center;
     font-size: 14px;
     display: table-cell;
     vertical-align: middle;
     color: #5f5f5f;
     margin: -5px;
     cursor: default;
}
span.msg_top_erp{
  background: white;
    color: black;
    position: absolute;
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -22px;
    margin-top: -3px;
    /*display: inline-table;*/
    box-shadow: 0 2px 2px -4px rgba(0,0,0,.2), 0 3px 5px 2px rgba(0,0,0,.14), 0 5px 7px 2px rgba(0,0,0,.12);


}

.msg_top_erp_text{
  position: absolute;
    margin-top: -18px;
    margin-left: 6px;
}

.sample-show-hide {
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}


.pg_cuadro_erp {
   width: 18px;
   height: 18px;
   border: 1px solid silver;
   background-color: white;
   padding: 2px;
   font-size: 14px;
     display: table-cell;
     text-align: center;
}

.paso-circulo_60_completo {
     width: 60px;
     height: 60px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: rgb(128,19,77);
     text-align: center;
     font-size: 20px;
     display: table-cell;
     vertical-align: middle;
     color: white;
     margin: -5px;
     cursor: default;
     box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
}

.paso-circulo_60_ {
     width: 60px;
     height: 60px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #D8D8D8;
     text-align: center;
     font-size: 20px;
     display: table-cell;
     vertical-align: middle;
     color: #5f5f5f;
     margin: -5px;
     cursor: default;
     box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
}

.box_shadow_erp {
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
}
.border-caja-total{
  border-bottom: 2px solid #D8D8D8;
  padding: 5px;
  padding-top: 0px;
  margin-left: 2px;
  /*box-shadow: 1px 0 4px #e0d8cd;
  background-color: #FAFAFA;*/
}

/*   .md-chips .md-chip {
  cursor: default;
  border-radius: 16px;
  display: block;
  height: 40px;
  line-height: 32px;
  margin: 8px 8px 0 0;
  padding: 0 12px 0 0px;
  float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative; } */

.margin-conv-personal{
  margin-bottom: 7px;
}

.admision-toolbar-msg{
  min-height:15px; height: 20px; margin-top: 0px;
}

.adminsion-pos-check-lab-idiomas{
  margin-top: -9px; margin-left: -6px;
}

.align-postulante-admin{
  text-align: right;
}

.font-justify{
  text-align: justify;
}

@media screen and (max-width: 599px) {
  .erp-top-padding-xs {
    padding-top: 15px;
  }
.erp-top-padding-select-xs {
    padding-top: 35px;
  }
  .erp-top-padding-xs-especial{
  padding-top: 60px;
  }

  .erp-top-padding-select-ayuda{
  padding-top: 75px;
  }

  .align-postulante-admin{
      text-align: left;
    }

  .erp-top-padding-especial{
	  padding-top: 15px;
	}
  .btn-delete{
    margin-top: -30px;
    margin-bottom: 15px;
    margin-left: -13px;
  }

  .admision-toolbar-msg{
    min-height:35px; height: 35px;
  }

  .adminsion-pos-check-lab-idiomas{
    margin-top: 0px; margin-left: -6px;
  }
 .erp-top-padding-atributo{
    padding-top: 30px;
  }
/*
  Se aplica sólo cuando el formulario tiene un select pro con mensaje de ayuda y requerido*/
  .erp-top-select-required-help-cond{
    padding-top: 40px;
  }
  .erp-top-select-required-help{
    padding-bottom: 50px;
  }
  
  .erp-top-select-estado{
    padding-top: 15px;
  }

  /*Se aplica a los core select pro que están alineados a la derecha y van debajo
  de un core select pro que tiene el campo requerido como true*/
  .erp-top-core-select-pro-required{
    padding-top: 15px;
  }

  /*Se aplica a los core select pro que están alineados a la derecha y van debajo
  de un core select pro que tiene el campo requerido como false*/
  .erp-top-core-select-pro{
    padding-top: 6px;
  }

  /*Se aplica a los elementos que van debajo
  de un select nativo que tienen el atributo requerido como false*/
  .erp-top-select-padding{
    padding-top: 15px;
  }

}

 
@media screen and (min-width:800px) and (max-width: 1024px) {
 .erp-top-padding-xs {
    padding-top: 15px;
  }

  .erp-top-padding-xs-especial{
  padding-top: 60px;
  }

  .erp-top-padding-select-ayuda{
  padding-top: 0px;
  }

  .erp-top-padding-especial{
    padding-top: 15px;
  }
  .erp-top-padding-atributo{
    padding-top: 60px;
  }
  .btn-delete{
    margin-top: -30px;
    margin-bottom: 15px;
    margin-left: -13px;
  }

  .admision-toolbar-msg{
    min-height:35px; height: 35px;
  }

  .adminsion-pos-check-lab-idiomas{
    margin-top: 0px; margin-left: -6px;
  }

  /*Se aplica sólo cuando el formulario tiene un select pro con mensaje de ayuda y requerido*/
  .erp-top-select-required-help-cond{
    padding-top: 20px;
  }

  .erp-top-select-estado{
    padding-top: 5px;
  }

}
@media screen and (min-width:600px) and (max-width: 959px) {
  .erp-top-padding-sm {
    padding-top: 15px;
  }
  .erp-bottom-padding-sm{
    padding-bottom: 15px;
  }
  .erp-bottom-align-right-sm{
    text-align: right;
  }
  .margin-conv-personal{
    margin-top: -10px;
    margin-bottom: 0px;
  }
  .erp-top-padding-select-ayuda{
  padding-top: 50px;
  }
  .erp-top-padding-atributo{
    padding-top: 25px;
  }
  /*Se aplica sólo cuando el formulario tiene un select pro con mensaje de ayuda y requerido*/
    .erp-top-select-required-help-cond{
    padding-top: 20px;
  }
  .erp-top-select-required-help{
    padding-bottom: 62px;
  }
  
  .erp-top-select-estado{
    padding-top: 1px;
  }

  .erp-top-padding-select-xs {
    padding-top: 35px;
  }
  .erp-top-padding-xs{
    padding-top: 20px;
  }

}

@media screen and (min-width:1025px) and (max-width: 1920px) {
 
  .erp-top-padding-select-ayuda{
  padding-top: 0px;
  }
  .erp-top-padding-atributo{
    padding-top: 40px;
  }
  .erp-top-padding-atributo-xl{
    padding-top: 40px;
  }

/*Se aplica sólo cuando el formulario tiene un select pro con mensaje de ayuda y requerido*/
   .erp-top-select-required-help-cond{
    padding-top: 20px;
  }
  .erp-top-select-required-help{
    padding-bottom: 5px;
  }
  .erp-top-select-estado{
    padding-top: 1px;
  }
/*  .erp-top-padding-xs{
    padding-top: 20px;
  }*/

}


.message-error {
  color: red;
}

.message-ok {
  color: black;
}
textarea {
        resize: none;
        overflow: auto !important;
        height: 80px !important;
    }
fieldset{
        border: 1px solid #ccc;
    }
    .btn-operador{
        width: 26px;
        height: 26px;
        margin: 3px;
        background-color: #ccc;
        color: #000;
    }
    .btn-operador:hover{
        background-color: #F6F2F2;    
    }
    .ul-list-variable{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    }
    .ul-list-variable li{
        list-style: none;
        height: 1.5em;
        /*border-bottom: solid 1px #ccc;*/
        margin-left: -40px;
        display: block;
        font-size: 14px;
        padding-top: 5px;       
    }
    .ul-list-variable li:hover{
    cursor:pointer;
    background-color:#cccccc;
    }


.color-msg-error {
    background-color: red;
    color: white;
    font-size: 13px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.margin-bottom-error {
    margin-bottom: 15px;
}

.margin-bottom {
	margin-bottom: 15px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}

.erp-sub-title-yellow {
	background: #fff4cc;
    /*border-color: #ffe070;*/
    /*border-bottom: 2px;*/
    padding: 10px;
    border-bottom: 2px solid #ffe070;
    border-top: 3px solid #ffe070;
}

.erp-table-yellow{
	background: #fff4cc;
	border-bottom: 3px solid #ffe070;
}

.title-question {
    font-size: 20px;
    font-size: 1.25rem;
    color: #013d93;
    letter-spacing: -1px;
    margin-bottom: 10px;
    border-bottom: 0;
}

/*LIST DINAMIC*/

    .gridDinaminErp md-icon {
      width: 50%;
      height: 30%; }
    .gridDinaminErp md-icon svg {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .gridDinaminErp .s64 {
      font-size: 64px; }
    .gridDinaminErp .s32 {
      font-size: 48px; }
    .gridDinaminErp md-icon.fa {
      display: block;
      padding-left: 0; }
    .gridDinaminErp md-icon.s32 span {
      padding-left: 8px; }
    .gridDinaminErp md-grid-list {
      margin: 8px; }
    .gridDinaminErp .gray {
      background: #f5f5f5; }
    .gridDinaminErp .green {
      background: #b9f6ca; }
    .gridDinaminErp .yellow {
      background: #ffff8d; }
    .gridDinaminErp .blue {
      background: #84ffff; }
    .gridDinaminErp .darkBlue {
      background: #80d8ff; }
    .gridDinaminErp .deepBlue {
      background: #448aff; }
    .gridDinaminErp .purple {
      background: #b388ff; }
    .gridDinaminErp .lightPurple {
      background: #8c9eff; }
    .gridDinaminErp .red {
      background: #ff8a80; }
    .gridDinaminErp .pink {
      background: #ff80ab; }
    .gridDinaminErp md-grid-tile {
      transition: all 300ms ease-out 50ms; 
      /*cursor: pointer;*/
    }
    .gridDinaminErp md-grid-tile md-icon {
      padding-bottom: 32px; }
    .gridDinaminErp md-grid-tile md-grid-tile-footer {
     /* background: #e8e8e8;
      color: black;*/
      height: 36px; 
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    }
    .gridDinaminErp md-grid-tile-footer figcaption {
      width: 100%; }
    .gridDinaminErp md-grid-tile-footer figcaption h3 {
      margin: 0;
      font-weight: 700;
      width: 100%;
      text-align: center; }

td.right{
  text-align: right;
  padding-right: 2px;
}

td.center{
  text-align: center;
}
th.center{
  text-align: center;
}
a.erp-link { 
    color: #3c80f6;
    text-decoration: none;
}

a.erp-link:hover { 
    cursor: pointer;
    text-decoration: underline;
    color: #1E90FF;
}

a.erp-link:active {
    color: #FF8C00;
    text-decoration: underline;
}

fieldset.standard {
    border-style: solid;
    border-width: 1px;
    /*border-radius: 5px;*/
    font-size: 14px;
    padding-top: 10px;
}

fieldset.standard-border0 {
    border-style: solid;
    border-width: 0px;
    /*border-radius: 5px;*/
    font-size: 14px;
    padding-top: 10px;
}

fieldset.standard-margin-top {
    border-style: solid;
    border-width: 1px;
    /*border-radius: 5px;*/
    font-size: 14px;
    padding-top: 10px;
    margin-top: 6px;
}

td.border_td {
    border-right: 1px solid #d3d3d3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-top: 1px solid #d3d3d3;
    padding-left: 2px;
}

th.border_th {
    border-right: 1px solid #d3d3d3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-top: 1px solid #d3d3d3;
    padding-left: 2px;
    background-color: #F2F2F2;
    text-align: center;
}

td.border_td_ini {
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-top: 1px solid #d3d3d3;
    padding-left: 2px;
}

.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

.listdemoListControls md-list {
  padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }
  

th.border_th_ini {
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-top: 1px solid #d3d3d3;
    padding-left: 2px;
    background-color: #F2F2F2;
    text-align: center;
}


/*
  Inputs
*/


input[type=text].erp {
    border : 1px solid silver;
    padding: .4em;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
input[type=text].erp-center {
    border : 1px solid silver;
    padding: .4em;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    text-align: center;
}

input[type=time].erp {
    border : 1px solid #CCCC99;
    border-radius:3px;
    padding: 2pt;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
input[type=number].erp {
    border : 1px solid #CCCC99;
    border-radius:3px;
    padding: 2pt;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
input[type=checkbox].erp {
    color: red;
    border : 1px solid red;
    height: 16px;
    width: 16px;
    padding: .4em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
input[type=radio].erp {
    color: red;
    border : 1px solid red;
    height: 16px;
    width: 16px;
    padding: .4em;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}
select.erp {
    border : 1px solid silver;
    padding: .4em;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius:3px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.select-tr-true{
  background-color: #F2F2F0;
}


.ErpSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .ErpSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 5px; 
  }
  .ErpSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 8px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    padding-right: 5px;
    width: auto; }
  .ErpSelectHeader md-content._md {
    max-height: 240px; 
  }
  .ErpSelectHeader .demo-header-searchbox:focus {
    border-bottom: 2px solid #DBA901;
  }

.erp-link { 
    color: #3c80f6;
    text-decoration: none;
}

.erp-link:hover { 
    cursor: pointer;
    text-decoration: underline;
    color: #1E90FF;
}

.erp-link:active {
    color: #FF8C00;
    text-decoration: underline;
}
md-select{
	    margin: 1px 0 1px 0;
}
md-dialog {
	    opacity: 1;
}
.caja-contacto
{
	margin-bottom:30px;
	padding-top: 25px;
	border: 2px solid #ccc;
}
.caja-contacto-dell {
	position: absolute;
}
.caja-contacto-dell>.md-icon-button {
    margin: 0 30px;
}
md-dialog-actions>.md-button.md-icon-button 
{
	margin: -5px;
    padding: 0;
}
form md-input-container{margin-bottom:10px;}
md-input-container:not(.md-input-has-value) input:not(:focus){
	color: inherit;
}
div.configuracion>.md-button{
	margin:12px 12px;
}
/*div.configuracion>.md-button:hover{
}*/
#ConvEvaCarrera>md-menu-bar {
    margin-top: -10px important!;
}
.msg-ayuda, p.msg-ayuda, form .msg-ayuda,form p.msg-ayuda {
    font-size: 11px;
    color: #9E9E9E;
	display:block;
    margin-bottom: 10px;
    margin-top: -10px;
}
md-toolbar.md-secondary{
	min-height: 25px; 
	height: 30px; 
	margin-bottom: 2px;
	margin-top:15px;
	border-bottom:1px solid #ccc;
}

/* Styles convocatoria*/

.toolbar-conv-index{
  min-height: 40px; height: 45px;
}

.conv-align-right{
  text-align: right;
}

.conv-padtop8{
  padding-top: 8px;
}

.conv-md-card-actions{
  padding-top: 0px; padding-bottom: 35px;
}

.conv-carr-bd-card{
  border-radius: 0px; margin: 0px;
}

.conv-border-reglam{
  border: solid 1px #E6E6E6;
}

.md-toolbar-conv-det{
  min-height: 40px; height: 42px;
}

.conv-size-quince{
  font-size: 15px;
}

.conv-size-catorce{
  font-size: 14px;
}

.conv-size-doce{
  font-size: 12px;
}

.conv-md-toolbar-nivel{
  min-height: 40px; height: 42px; margin-bottom: 15px;
}

.conv-det-online{
  padding-left: 5px; margin-top: -10px;
}

.conv-top-m-10{
  margin-top: -10px;
}

.conv-pb5{
  padding-bottom: 5px;
}

.erpchippcarr .md-chips md-chip{
  height: auto;
  border-radius: 2px;
  }
  
.erpchippcarr .md-chip-input-container {
  width: 80%;
  background-color: white;
}

.ubigeochip .md-chips md-chip{
  height: 40px;
  border-radius: 20px;
  margin: 8px 8px 0 0;
  padding: 0 12px 0 0px;
}

.ubigeochip .md-chip-input-container {
  width: 60%;
  background-color: white;
}
/*   
.md-chips .md-chip {
  cursor: default;
  border-radius: 16px;
  display: block;
  height: 40px;
  line-height: 32px;
  margin: 8px 8px 0 0;
  padding: 0 12px 0 0px;
  float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative; } */


/* .erpchippcarr .md-chips .md-chip-input-container md-autocomplete input{
  position: relative;
  background-color: blue;
  width: auto;
  display: flex;
} */


/* .erpchippcarr .md-chips .md-chip-input-container md-autocomplete input{
  background-color: blue;
  position: relative;
  width: 500px;
} */


/* .magwi md-chips.md-Indigo-theme .md-chip {
  height: 80px;
  border-radius: 50px;
  position: relative;
  width: 400px;
}

.magwi md-chips.md-chip-input-container md-autocomplete input {
  height: 80px;
  border-radius: 50px;
  position: relative;
  width: 800px;
}

.magwi .md-chips .md-chip-input-container md-autocomplete input {
  position: relative;
  width: 400px;
} */

}
 

.conv-toolb-en_form{
  padding-left: 44px; 
  min-height: 25px;
  height: 30px; 
  margin-bottom: 1px; 
  margin-top: 0px; 
  border-bottom: 0px solid #F2F2F2;
}

.conv-toolb-en_form_cab{
  background: #F2F2F2; 
  min-height: 30px; 
  height: 32px; 
  margin-bottom: 1px; 
  margin-top: 0px; 
  border-bottom: 1px solid #A4A4A4;
}
.conv-toolb-en_formp{
  min-height: 38px; 
  height: 40px;
} 
/*md-input-container .md-input-message-animation:not(.ng-animate){
	opacity: 1;
}*/

.check-admision-idiomas{
  border-bottom: 1px solid #e8e6e6;
    margin-top: -8px;
    margin-left: 6px;
    margin-bottom: 28px;
}

.check-admision-idiomas-column{
  /*border-bottom: 1px solid #e8e6e6;*/
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: -5px;
}

hr.erp_divider{
    border-color: rgba(0,0,0,0.12);
    display: block;
    border-width: 0.5px;
    border-style: dashed;
    margin: 0;
    margin-bottom: 6px;
}
.coreselectimage img{
        width: 24px;
        height: 24px;
    }

.msg-error-general {
    font-size: 11px;
    color: rgb(221,44,0);
}