/* Menu main LightBlue*/

.apps_colors_LightBlue{
    background-color: #0288D1; 
    border-radius: 2px;
    outline: none;
    width: 100%; 
    color: white;
}

.navLightBlue {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow-x: hidden;
}

.navLightBlue > li {
    position: relative;
    display: block;
}

.navLightBlue > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navLightBlue > li > a:hover,
.navLightBlue > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.navLightBlue > li.disabled > a {
    color: #777;
}

.navLightBlue > li.disabled > a:hover,
.navLightBlue > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.navLightBlue .open > a,
.navLightBlue .open > a:hover,
.navLightBlue .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}

.navLightBlue .navLightBlue-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.navLightBlue > li > a > img {
    max-width: none;
}

nav ul.navLightBlue li {
    position: relative;
}

nav ul.navLightBlue li li a {
    /*padding-left: 30px;*/
    /*line-height: 36px;*/
    line-height: 28px;
    font-size: 15px;
}

nav ul.navLightBlue li li a .badge,
nav ul.navLightBlue li li a .label {
    margin-top: 10px;
}

nav ul.navLightBlue li li li a {
    padding-left: 88px;
}

nav ul.navLightBlue li li li li a {
    padding-left: 106px;
}

nav ul.navLightBlue li a,
nav ul.navLightBlue li .navLightBlue-item {
    position: relative;
    display: block;
    padding: 0 16px;
    font-weight: normal;
    line-height: 35px;
    text-align: left;
    text-transform: none;
    border-radius: 0 !important;
}

nav ul.navLightBlue li a .text,
nav ul.navLightBlue li .navLightBlue-item .text {
    margin-left: 16px;
}

nav ul.navLightBlue li a .up,
nav ul.navLightBlue li .navLightBlue-item .up {
    z-index: 1;
    margin-left: 16px;
    font-style: normal;
}

nav ul.navLightBlue li a > .pull-right ng-md-icon,
nav ul.navLightBlue li .navLightBlue-item > .pull-right ng-md-icon {
    margin-left: 16px;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

nav ul.navLightBlue li a > .icon,
nav ul.navLightBlue li .navLightBlue-item > .icon {
    top: 0;
    float: left;
    min-width: 40px;
    margin-right: 16px;
    line-height: inherit;
}

nav ul.navLightBlue li a > .icon:before,
nav ul.navLightBlue li .navLightBlue-item > .icon:before {
    display: inline-block;
    width: 24px;
    text-align: center;
    opacity: 0.75;
}

nav ul.navLightBlue li a:hover,
nav ul.navLightBlue li .navLightBlue-item:hover,
nav ul.navLightBlue li a:focus,
nav ul.navLightBlue li .navLightBlue-item:focus {
  /*  background-color: grey;
    color: white;*/
    /*background-color: #BDBDBD;*/
    background-color: #0288D1;
    color: white;
}

nav ul.navLightBlue li label {
    display: block;
}

nav ul.navLightBlue li label i {
    margin-right: 48px;
    margin-left: -16px;
}

/* Color de toda la selecci+on*/
nav ul.navLightBlue li.active {
    background-color: #039BE5;
    color: white !important;

}

nav ul.navLightBlue li.active > a {
    /*background-color: transparent;*/
     background-color: #0288D1 !important;
    color: white !important;
    /*font-weight:bold !important;*/

}

nav .navLightBlue-header:hover {

}
nav .navLightBlue-header:focus {
    /*background-color: transparent !important;*/
    background-color: #80134D !important;
    color: white !important;
}


nav ul.navLightBlue li.active > a > .pull-right ng-md-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

nav ul.navLightBlue.navLightBlue-stacked a,
nav ul.navLightBlue.navLightBlue-stacked .navLightBlue-header {
    padding: 0 16px;
    line-height: 30px;
}

nav .navLightBlue-header {
    padding: 0 16px;
    line-height: 40px;
}



.navLightBlue-sub {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.navLightBlue-sub .md-ripple-container {
    display: none;
    visibility: hidden;
}

.active > .navLightBlue-sub {
    max-height: 999px;
}

.active > .navLightBlue-sub .md-ripple-container {
    display: block;
    visibility: visible;
}


/* Menu main default*/

.apps_colors_default{
    background-color:rgb(123,10,59); 
    border-radius: 2px;
    outline: none;
    width: 100%; 
    color: white;
}

.navdefault {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow-x: hidden;
}

.navdefault > li {
    position: relative;
    display: block;
}

.navdefault > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navdefault > li > a:hover,
.navdefault > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.navdefault > li.disabled > a {
    color: #777;
}

.navdefault > li.disabled > a:hover,
.navdefault > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.navdefault .open > a,
.navdefault .open > a:hover,
.navdefault .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}

.navdefault .navdefault-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.navdefault > li > a > img {
    max-width: none;
}

nav ul.navdefault li {
    position: relative;
}

nav ul.navdefault li li a {
    /*padding-left: 30px;*/
    /*line-height: 36px;*/
    line-height: 28px;
    font-size: 15px;
}

nav ul.navdefault li li a .badge,
nav ul.navdefault li li a .label {
    margin-top: 10px;
}

nav ul.navdefault li li li a {
    padding-left: 88px;
}

nav ul.navdefault li li li li a {
    padding-left: 106px;
}

nav ul.navdefault li a,
nav ul.navdefault li .navdefault-item {
    position: relative;
    display: block;
    padding: 0 16px;
    font-weight: normal;
    line-height: 35px;
    text-align: left;
    text-transform: none;
    border-radius: 0 !important;
}

nav ul.navdefault li a .text,
nav ul.navdefault li .navdefault-item .text {
    margin-left: 16px;
}

nav ul.navdefault li a .up,
nav ul.navdefault li .navdefault-item .up {
    z-index: 1;
    margin-left: 16px;
    font-style: normal;
}

nav ul.navdefault li a > .pull-right ng-md-icon,
nav ul.navdefault li .navdefault-item > .pull-right ng-md-icon {
    margin-left: 16px;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

nav ul.navdefault li a > .icon,
nav ul.navdefault li .navdefault-item > .icon {
    top: 0;
    float: left;
    min-width: 40px;
    margin-right: 16px;
    line-height: inherit;
}

nav ul.navdefault li a > .icon:before,
nav ul.navdefault li .navdefault-item > .icon:before {
    display: inline-block;
    width: 24px;
    text-align: center;
    opacity: 0.75;
}

nav ul.navdefault li a:hover,
nav ul.navdefault li .navdefault-item:hover,
nav ul.navdefault li a:focus,
nav ul.navdefault li .navdefault-item:focus {
  /*  background-color: grey;
    color: white;*/
    /*background-color: #BDBDBD;*/
    background-color: #8F1555;
    color: white;
}

nav ul.navdefault li label {
    display: block;
}

nav ul.navdefault li label i {
    margin-right: 48px;
    margin-left: -16px;
}

/* Color de toda la selecci+on*/
nav ul.navdefault li.active {
    background-color: #80134D;
    color: white !important;

}

nav ul.navdefault li.active > a {
    /*background-color: transparent;*/
     background-color: rgb(155,10,90) !important;
    color: white !important;
    /*font-weight:bold !important;*/

}

nav .navdefault-header:hover {

}
nav .navdefault-header:focus {
    /*background-color: transparent !important;*/
    background-color: #80134D !important;
    color: white !important;
}


nav ul.navdefault li.active > a > .pull-right ng-md-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

nav ul.navdefault.navdefault-stacked a,
nav ul.navdefault.navdefault-stacked .navdefault-header {
    padding: 0 16px;
    line-height: 30px;
}

nav .navdefault-header {
    padding: 0 16px;
    line-height: 40px;
}



.navdefault-sub {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.navdefault-sub .md-ripple-container {
    display: none;
    visibility: hidden;
}

.active > .navdefault-sub {
    max-height: 999px;
}

.active > .navdefault-sub .md-ripple-container {
    display: block;
    visibility: visible;
}

/* Menu ThemeCU*/

.apps_colors_themeCU{
    background-color: #3F86BA; 
    border-radius: 2px;
    outline: none;
    width: 100%; 
    color: white;
}

.navthemeCU {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow-x: hidden;
}

.navthemeCU > li {
    position: relative;
    display: block;
}

.navthemeCU > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navthemeCU > li > a:hover,
.navthemeCU > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.navthemeCU > li.disabled > a {
    color: #777;
}

.navthemeCU > li.disabled > a:hover,
.navthemeCU > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.navthemeCU .open > a,
.navthemeCU .open > a:hover,
.navthemeCU .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}

.navthemeCU .navthemeCU-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.navthemeCU > li > a > img {
    max-width: none;
}

nav ul.navthemeCU li {
    position: relative;
}

nav ul.navthemeCU li li a {
    /*padding-left: 30px;*/
    /*line-height: 36px;*/
    line-height: 28px;
    font-size: 15px;
}

nav ul.navthemeCU li li a .badge,
nav ul.navthemeCU li li a .label {
    margin-top: 10px;
}

nav ul.navthemeCU li li li a {
    padding-left: 88px;
}

nav ul.navthemeCU li li li li a {
    padding-left: 106px;
}

nav ul.navthemeCU li a,
nav ul.navthemeCU li .navthemeCU-item {
    position: relative;
    display: block;
    padding: 0 16px;
    font-weight: normal;
    line-height: 35px;
    text-align: left;
    text-transform: none;
    border-radius: 0 !important;
}

nav ul.navthemeCU li a .text,
nav ul.navthemeCU li .navthemeCU-item .text {
    margin-left: 16px;
}

nav ul.navthemeCU li a .up,
nav ul.navthemeCU li .navthemeCU-item .up {
    z-index: 1;
    margin-left: 16px;
    font-style: normal;
}

nav ul.navthemeCU li a > .pull-right ng-md-icon,
nav ul.navthemeCU li .navthemeCU-item > .pull-right ng-md-icon {
    margin-left: 16px;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

nav ul.navthemeCU li a > .icon,
nav ul.navthemeCU li .navthemeCU-item > .icon {
    top: 0;
    float: left;
    min-width: 40px;
    margin-right: 16px;
    line-height: inherit;
}

nav ul.navthemeCU li a > .icon:before,
nav ul.navthemeCU li .navthemeCU-item > .icon:before {
    display: inline-block;
    width: 24px;
    text-align: center;
    opacity: 0.75;
}

nav ul.navthemeCU li a:hover,
nav ul.navthemeCU li .navthemeCU-item:hover,
nav ul.navthemeCU li a:focus,
nav ul.navthemeCU li .navthemeCU-item:focus {
  /*  background-color: grey;
    color: white;*/
    /*background-color: #BDBDBD;*/
    background-color: #3A7CAA;
    color: white;
}

nav ul.navthemeCU li label {
    display: block;
}

nav ul.navthemeCU li label i {
    margin-right: 48px;
    margin-left: -16px;
}

/* Color de toda la selecci+on*/
nav ul.navthemeCU li.active {
    background-color: #408ABE;
    color: white !important;

}

nav ul.navthemeCU li.active > a {
    /*background-color: transparent;*/
     background-color: #3A7CAA !important;
    color: white !important;
    /*font-weight:bold !important;*/

}

nav .navthemeCU-header:hover {

}
nav .navthemeCU-header:focus {
    /*background-color: transparent !important;*/
    background-color: #80134D !important;
    color: white !important;
}


nav ul.navthemeCU li.active > a > .pull-right ng-md-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

nav ul.navthemeCU.navthemeCU-stacked a,
nav ul.navthemeCU.navthemeCU-stacked .navthemeCU-header {
    padding: 0 16px;
    line-height: 30px;
}

nav .navthemeCU-header {
    padding: 0 16px;
    line-height: 40px;
}



.navthemeCU-sub {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition: max-height 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.navthemeCU-sub .md-ripple-container {
    display: none;
    visibility: hidden;
}

.active > .navthemeCU-sub {
    max-height: 999px;
}

.active > .navthemeCU-sub .md-ripple-container {
    display: block;
    visibility: visible;
}
