.font-timesnewroman {
    font-family: "Times New Roman", Times, serif;
}

.size-smaller {
    font-size: smaller;
}

.weight-normal {
    font-weight: normal;
}

.weight-lighter {
    font-weight: lighter;
}

.form-subtitle {
    min-height: 30px;
    height: 30px;
}

.form-min-subtitle {
    min-height: 25px;
    height: 25px;
}

.form-title {
    min-height: 30px;
    height: 30px;
}

.image-size-2 {
    width: 20px;
    height: 20px;
}

.image-size-3 {
    width: 30px;
    height: 30px;
}

.image-size-4 {
    width: 40px;
    height: 40px;
}

.image-size-5 {
    width: 50px;
    height: 50px;
}

.image-size-10 {
    width: 100px;
    height: 110px;
}

.color-plomo {
    color: #9E9E9E;
}

.color-negro {
    color: #000000;
    font-weight: bold;
}

.md-button.md-fab.md-min-xs {
    width: 20px;
    height: 20px;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 10px;
    padding: 0 0;
    margin: 0;
}

.md-button.md-raised.md-min-xs {
    text-align: center;
    min-height: 1px;
    font-size: 11px;
    font-weight: bold;
    line-height: 0rem;
    min-width: 0;
    width: 1.5rem;
    height: 1.2rem;
    margin-left: 0px;
}

.align-rigth {
    float: right;
}

.sin_rayita {
    border-top: 0px;
    border-spacing: 0px 0px;
    border-radius: 0px;
}
